.section-header{
  @include flex();
  padding: 15px 0;
  .section-header_name{
    font-size: 24px;
    font-weight: bold;
  }
  .section-header_link{
    color: $blue;
    font-size: 20px;
  }
}

.recommended-products{
  .recommended-products_container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
}