@font-face {
  font-family: 'Open';
  src: url('../fonts/Open_Sans/static/OpenSans_Condensed-Regular.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/static/Raleway-Regular.ttf');
}
