*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  overflow-x: hidden;
  font-family: Poppi;
}

button{
  background: none;
  outline: none;
}

a{
  text-decoration: none;
}

.container{
  width: 95%;
  margin: 0 auto 0;
  max-width: 1420px;
}