@font-face {
  font-family: 'Poppi';
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
// @font-face {
//   font-family: 'oswald';
//   src: url('../fonts/Oswald/static/Oswald-Regular.ttf');
// }
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/static/Raleway-Regular.ttf');
}
